/* Header section  */
.logo i {
  font-size: 40px;
  color: red;
}
.logo h1 {
  color: #f28b00;
  font-weight: bold;
}
.icons {
  width: 100%;
}
.icons i {
  font-size: 25px;
}
.icons span {
  font-size: 20px;
}
.icons_box {
  height: 50px;
  width: 50px;
  border: 2px solid silver;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu_row {
  background-color: #f28b00;
  position: sticky;
  top: 0;
  z-index: 999;
}
.search_bar span {
  background-color: #f28b00;
}

/* Header Section end here */
/* Slider start  */
.swiper {
  width: 100%;
  height: 400px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Slider end  */
/* best offer  */
.best_offer {
  width: 100%;
  height: 180px;
  background: whitesmoke;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  justify-content: space-around;
}
.best_offer p {
  font-size: 1rem;
}
.best_offer h3 {
  font-size: 1.5rem;
  color: #f28b00;
  font-weight: bold;
}
.best_offer h1 {
  font-size: 2rem;
  color: #f92400;
  font-weight: bold;
}
.box {
  width: 40%;
  height: 100%;
}
/* bst offer end here */
.hr {
  width: 60%;
  border-bottom: 3px solid;
}
.hr_h {
  color: #f28b00;
}
/* hr end  */
/* category  */
.cat_images .card img{
  height: 70%;
  transform: scale(0.8);
}
.cat_images .card a{
  background-color: #f28b00;
}
.cat_images .card img:hover{
  transform: scale(1);
  transition: 2s all ease-in-out;
}
/* category end  */
/* about services */
.about_services_mobile {
  display: flex;
  gap: 5px;
}
.about_services {
  width: 16%;
  height: 130px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  padding: 10px;
  gap: 5px;
  align-items: center;
  box-shadow: 1px 1px 3px #f28b00;
}
.about_services div i {
  color: #f28b00;
  font-weight: 900;
  font-size: 2em;
}
/* our product card */
.our_product_card {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.our_product_card .card {
  width: 14rem;
  height: 14rem;
}
.our_product_card .card img{
  border: 1px dotted #f28b00;
  transform: scale(0.9);
  height: 100%;
}
.our_product_card .card img:hover{
 transform: scale(1.1);
 transition: 3s all ease-in-out;
}
/* Footer section */
footer {
  color: #6c757d;
}
.foot {
  background-color: #343a40;
  padding: 25px;
}
.fbox1 {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  color: #f28b00;
  font-weight: 900;
  font-size: 2em;
  background-color: #f92400;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .fbox2 {
  text-align: justify;
}
footer .fbox2 span {
  background-color: #f28b00;
}
footer .fbox2 h4 {
  color: #f28b00;
}
footer .fbox2 ul li {
  list-style-type: none;
}
.main_foot_frenzy {
  padding: 15px;
  background-color: #f28b00;
  color: white;
}
/* footer end */
/* for Responsive */
@media screen and (max-width: 480px) {
  .laptop_header {
    display: none;
  }
  .menu_row{
    display: none !important;
  }
  .about_services {
    width: 90%;
    height: 180px;
    margin-top: 10px;
  }
  .about_services_mobile {
    gap: 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .our_product_card {
    flex-direction: column;
    align-items: center;
  }
  .our_product_card .card {
    width: 18rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
  .mobile_header {
    display: none;
  }
}
